export(WeThePeopleClient)
export(melt_issues)
export(petition_term_document_matrix)
export(petitions_from_json)
export(plot_issues_over_time)
export(plot_wordcloud)
export(sample_petitions)
export(signatures_from_json)
export(users_from_json)
importFrom(RCurl,getForm)
importFrom(ggplot2,aes)
importFrom(ggplot2,geom_point)
importFrom(ggplot2,ggplot)
importFrom(ggplot2,labs)
importFrom(reshape,melt)
importFrom(tm,Corpus)
importFrom(tm,DataframeSource)
importFrom(tm,removePunctuation)
importFrom(tm,removeWords)
importFrom(tm,stopwords)
importFrom(wordcloud,wordcloud)
